<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../partials/bootstrap") %>
    <title>User's Item</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <%if(user.dataValues.Items.length === 0){%>
        you have no item
    <%}else{
        user.dataValues.Items.forEach(item => {%>
            <%= item.name%>  "disini isi storage dimana"
            
            
        <%})
    }%>
    <a href="/item/add/<%=user.id%>">Add more Item</a>
</body>
</html>